$adtoolsColor: #006699;
$adtoolsColorDrk: lighten($adtoolsColor, 60%);
.ladtools{
    background: $adtoolsColor;
}
.adTools{
    background: #E5E9EC;
    color:#333;
    
    .highlight-bg{
        background: $adtoolsColor;
        height: 6%;
    }
    .content-bg{
        height: 9%;
        background: $adtoolsColorDrk;
    }
    h3, h4{
        color: $adtoolsColor;
        border-color: $adtoolsColor;
    }
    h3.white{
        color:$adtoolsColor;
        border-color: #fff;
    }
    h3:before{
        background: $adtoolsColor;
    }
    .hero{
        height: 800px;
        
        img:first-child{
            top: 10%;
            left: 20%;
            z-index: 2;
        }
        
        img:nth-child(2){
            top: 51%;
            left: 51%;
            z-index: 3;
        }
        img:nth-child(3){
            animation: img-flicker 3s infinite;
        }
    }
    .testimonials{
        margin-top: 600px;
        margin-bottom: 300px;
        
        .window{
            margin-top: -350px;
        }
    }
    .values{
        margin-top: 300px;
        .col{
            z-index: 2;
            position: relative;
        }
        .items{
            display: inline-flex;
        }
        .highlight-bg{
            transform: skew(0, 4deg);
            width: 140%;
            margin-left: -20%;
            top:150px;
        }
    }
    img{
        max-width: 100%;
    }
    
    .doc{
        position: relative;
        margin-right: -220px;
         @media (max-width: $capm){
             margin-right: -240px;
            //display: none;
        }
    }
    .wires{
        color: #fff;
        .highlight-bg{
            height: 160%;
            top: -150px;
        }
        p{
            width: 70%;
            margin: auto;
            margin-top: 100px;
            text-align: center;
        }
    }
    .analisys{
        .col:first-child{
            padding-top:200px;
        }
    }
    .docs{
        margin-top:200px;
        margin-bottom:400px;
        .center{
            padding-top:125px;
        }
    }
    
    .quick{
        position: relative;
        top: -50px;
        right: -100px;
    }
    .task{
         position: relative;
        
    }
    .notif{
         position: relative;
        top: -180px;
    }
    .menu{
        margin-bottom: -300px;
        margin-right: 50px;
    }
    .login{
        transform: perspective(1200px) rotateY(-45deg);
        position: absolute;
        z-index: 2;
        right: 0px;
        bottom: 200px;
    }
    .laptop{
        margin-top: 150px;
    }
    
    .single-feature{
         margin-bottom: 400px;   
    }
    
    .values{
        color: #fff;
        p{
            margin-top: 170px;
            margin-bottom: 80px;
        }
        .highlight-bg{
            height: 60%;
        }
        .testie{
            background: #fff;
            z-index: 1;
            color: #333;
            padding: 59px 100px;
            font-style: italic;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
            margin-left: 17%;
            @media (max-width: $xs){   
                box-sizing: border-box;
                margin: 0px;
                padding: 30px 10px;
            }
            cite{
                &.company{
                    @media (max-width: $xs){   
                        display: block;
                        margin-left: 20px;
                    }
                }
                @media (max-width: $xs){   
                    font-size: 0.6em;
                }
            }
        }
    }
    .screenshots{
        .col{
            margin-bottom: 40px;
        }
    }
    .window{
        &::before{
            border-color:$adtoolsColor;
        }
        h4{
            margin-left: 37px;
        }
    }
    .imac{
        margin: auto;
        img{
            animation: adToolaimg-scroll 15s infinite alternate cubic-bezier(0.65, 0.05, 0.36, 1);
        }
    }
}
.screenshots{

}
@keyframes adToolaimg-scroll{
        0% {
            transform: translateY(0px) translateZ(0); 
        }
        100% {
            transform: translateY(330px-421px) translateZ(0); 
        }
    }