$maratonColor: #212121;
$maratonColorDrk:#51AA28;
$maratonHighlight:#C7E55D;
.lmaraton {
    background: $maratonColorDrk;
}
.maraton {
    background: $maratonColor;
    color: #FFF;
    .highlight-bg {
        background: $maratonHighlight;
        height: 8%;
    }
    .content-bg {
        height: 11%;
        background: $maratonColorDrk;
    }
    h3,
    h4 {
        color: $maratonColorDrk;
        border-color: $maratonColorDrk;
    }
    h3:before {
        background: $maratonColorDrk;
    }
    header {
        color: #fff;
        em {
            color: #333
        }
        h3,
        h4 {
            color: $maratonHighlight;
            border-color: $maratonHighlight;
        }
        h3:before {
            background: $maratonHighlight;
        }
    }
    .hero {
        height: 800px;
        img {
            top: 10%;
            left: 50%;
            margin-left: -150px;
        }
        .phone {
            left: 95%;
            top: 20%;
        }
        .logo {
            top: 30%;
            margin-left: 0px;
            left: 17%;
        }
    }
    .memo{
        margin-top: 20px;
        font-style: italic;
        a{
            color: #fff;
            text-decoration: underline;
        }
    }
    .single-feature {
        p {
            color: #fff;
        }
    }
    .device {
        margin: auto;
    }
    .result {
        margin-bottom: 600px;
        p {
            width: 60%;
            margin: 80px auto 0px auto;
        }
        .sec {
            margin-top: 20px;
        }
        .highlight-bg {
            top: 0px;
            height: 107%;
            background: $maratonColorDrk;
        }
        .window {
            bottom: -450px;
            h4 {
                color: #fff;
            }
            &::before {
                border-color: $maratonHighlight;
            }
        }
    }
    .window {
        &::before {
            border-color: $maratonColorDrk;
        }
        h4 {
            margin-left: 37px;
            color: $maratonColorDrk;
        }
        &.green h4 {
            color: $maratonColorDrk;
        }
    }
    .wires {
        height: 600px;
        position: relative;
        .highlight-bg {
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
            background: url("../projects/maraton/wires.jpg") no-repeat;
            background-size: cover;
            height: 80%;
            animation: maraton-wires 30s infinite alternate linear;
            top: 350px;
        }
        .center {
            position: relative;
            z-index: 1;
            width: 70%;
            margin: auto;
        }
    }
    .wire {
        position: absolute;
        z-index: 1;
        bottom: -300px;
        left: 50%;
        margin-left: -500px;
        max-width: 100%;
    }
    .wirecont {
        margin-top: 500px;
    }
    .push {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
    .dongle {
        margin-right: -50px;
        z-index: 1;
    }
}

@keyframes maraton-wires {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 500px-1010px;
    }
}