/* BASE VARIABLES
 *******************/
$imageBase: "../assets/";

/* Sizes */
$max-width: 1800px;
$footerheight: 50px;

/* Colors */
$bg: #FDFDFC;
$bglite: #F5F3FF;
$bgdark: darken($bg, 10%);

$text-gold:#EC785D; 
$accent: #63A7AE;

$text: #585F5B;
$links: $text-gold;
$hover: $accent;

$purple: #BE4EC4;
$bluish: #85A3D5;

/* Fonts */
$main: 'PT Serif',Cambria,"Times New Roman",Times,serif;
$title: 'Playfair Display', Georgia, serif;

/* Borders */
$border: 1px solid #fff;
$shadow:  1px 1px 5px rgba(0,0,0,0.3);

/* Breakpoints */
$cap: 1920px;
$capm: 1280px;
$m: 850px;
$s: 740px;
$xs: 640px;