.project {
    img {
        max-width: 100%;
    }
}

    
    
#about {
    margin-top: 0px;
    width: 80%;
    z-index: 2;
    position: relative;
    @include clearfix;
    aside {
        margin-top: 218px;
        @media (max-width: $capm) {
            margin-top: 50px;
            //display: none;
        }
        @media (max-width: $xs) {
            display: none;
        }
    }
    .skillsHolder {
        @media (max-width: $capm) {
            width: 37%;
        }
    }
    figure {
        position: relative;
        top: 8px;
        left: 58px;
        //background: red;
        
        @media (max-width: $capm) {
            right: 285px;
            position: static;
            left:auto;
            right: auto;
        }
        @media (max-width: $xs) {
            position: static;
            left:auto;
            right: auto;
            top: auto;
            margin:0px -90px -60px 0px;
        }
        img{
            //display: none;
        }
    }
    article {
        width: 60%;
        max-width: 740px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px auto;

        @media (max-width: $capm) {
            width: 55%;
            margin-left: 5%;
        }
        @media (max-width: $xs) {
            width:95%;
            margin: auto;
            text-align: left;

            font-size: 18px;
            line-height: 1.58;
        }
    }
    @media (max-width: $xs) {
        margin-top: 0px;
        width: 90%;
        
        h3{
            text-align: left;
            font-size: 1.6em;
            color: $accent;
        }
       
    }
}

#morePop{
    blockquote{
        @media (max-width: $xs) {
            position: static;
            display: block;
            margin: 10px;
            display: none;
        }
    }
}

.personal{
    opacity: 0.05;
    width: 100%;
    overflow: hidden;
    transition: opacity 1500ms ease;
    
    &:hover{
        opacity: 1.0;
    }
    
    
    img{
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: transform 50000ms ease;
        &:hover{
            transform: scale(1.3);
        }
    }
}

.social {
    margin-top: 100px;
    @media (max-width: $xs) {
        margin-top: 10px;
    }
    .fa {
        font-size: 20px;
    }
    a {
        margin-right: 25px;
        display: inline-block;
        @media (max-width: $xs) {
            
            margin-bottom: 10px;
        }
    }
}

.skills {
    .skill {
        opacity: 0.2;
    }
    .skill:hover {
        opacity: 1;
    }
}

.skill {
    cursor: default;
    transition: opacity 500ms ease;
    strong {
        font-weight: normal;
    }
    &:hover p {
        display: block;
    }
    p {
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        box-shadow: $shadow;
        padding: 10px;
        z-index: 10;
        color: #000;
    }
}

#process {
    width: 90%;
    margin-top: 0px;
    
    @media (max-width: $xs) {
        font-size: 0.7em;
        overflow: scroll;
        width:100%;
        top: -100px;
        position: relative;
        
        h3{
            font-size: 1.3em;
            text-align: left;
            color: $accent;
            margin-left: 40px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 3;
        &:hover li {
            opacity: 0.5;
        }
        &:hover li:hover {
            opacity: 1;
        }
        @include clearfix;
        
        @media (max-width: $xs) {
            width: 350%;
            padding-bottom: 30px;
        }
    }
    li {
        width: 25%;
        float: left;
        padding: 0px;
        margin: 0px;
        list-style: none;
        transition: all 500ms ease;
        display: block;
        text-align: center;
        padding-top: 0px;
        
        p {
            padding: 20px 20px;
            text-align: left;
            opacity: 0.6;
            transition: all 700ms ease;
            border-radius: 2px;
            @media (max-width: $xs) {
                opacity: 1;
            }
        }
        /*.active, &:hover{
            background: rgba(0,0,0,0.1);
            box-shadow: 1px 1px 0px rgba(0,0,0,0.15);
        }*/
        &:last-child {
            margin: 0px;
        }
        &:nth-child(1) {
            z-index: 4;
        }
         &:nth-child(2) {
            z-index: 3;
        }
         &:nth-child(3) {
            z-index: 2;
        }
         &:nth-child(4) {
            z-index: 1;
        }
        @media (max-width: $xs) {
            width: 320px;
            font-size: 1em;
            position: relative;
            background: $bg;
            box-shadow: 0px 1px 6px rgba(0,0,0,0.15);
            margin-left: 20px;
            height: 320px;
            
            &:nth-child(4) {
                margin-left: 20px;
            }
            .expertise{
                height: auto;
                width: auto;
                padding: 0px;
                margin: 20px 0px -30px 0px;
                display: block;
                
                span, &::after, &::before{
                    display: none;
                }
                h4{
                    font-size: 1.2em;
                    text-align: left;
                    padding: 0px 20px;
                    color: $text-gold;
                }
            }
        }
        &:hover p{
            box-shadow: 0px 6px 26px rgba(0,0,0,0.1);
                        opacity: 1;
        }
    }
}

#work {
    position: relative;
    padding-bottom: 100px;
    
     @media (max-width: $xs) {
            padding-bottom: 0px;
        }
    
    h3 {
        float: right;
        margin-right: 16%;
        z-index: 3;
        margin-left: 45%;
        position: relative;
    }
    .container {
        z-index: 3;
        position: relative;
        text-align: center;
        width: 71%;
        @media screen and (max-width: $capm) {
            width: 90%;
        }
        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
            width:90%;
        }
    }
    .content-bg {
        top: 0px;
        width: 100%;
        height: 100%;
        min-height: 800px;
        transform: skew(0, -3deg);
    }
    .highlight-bg {
        top: 120px;
        width: 100%;
        min-height: 800px;
        height: 100%;
        transform: skew(0, 8deg);
        transform-origin: top;
    }
    .container a {
        margin: 0px 25px 26px 0px;
        line-height: 0px;
        float: left;
        position: relative;
        overflow: hidden;
        width: 30%;
        
        img {
            width: 100%;
            position: relative;
            transition: all 350ms  cubic-bezier(0.65, 0.05, 0.36, 1);
        }
        span{
            position: absolute;
            display: block;
            width: 100%;
            height: 100px;
            bottom: -150px;
            left: 0px;
            line-height: 30px;
            font-weight: bold;
            color: #fff;
            padding-top: 50px;
            font-size: 1.3em;
            transform: scale(0.7);
            transition: transform 350ms cubic-bezier(0.65, 0.05, 0.36, 1);
            
            @media (max-width: $xs) {
                font-size: 0.7em;
            }
        }
        &:hover{
            span{
                transform: scale(1) translate3d(0,-150px,0);
            }
            img{
                transform: translate3d(0,0,0) translateY(-150px);
                opacity: 0.8;
            }
        }
        em{
            font-weight: normal;
            display: block;
            font-size: 0.6em;
        }
        @media screen and (max-width: $capm) {
            width: 30%;
        }
        
        @media (max-width: $xs) {
            width: 45%;
            margin:0px 25px 25px 0px;
            &:nth-child(even){
                margin:0px;
            }
        }
    }
    .stop {
        opacity: 0.5;
        position: relative;
        
        &:before{
            display: block;
            content: " ";
            width: 60px;
            height: 60px;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            
            background:url("#{$imageBase}ic_lock_outline_black_36px.svg") no-repeat center ;
            background-size: cover;
            
            @media (max-width: $xs) {
                top: 35%;
                left: 35%;
            }
         }
    }
    .nda {
        strong{
            font-size: 0.6em;
            padding-left: 25px;
            background:url("#{$imageBase}ic_error_outline_black_24px.svg") no-repeat center ;
            background-position: left center;
         }
    }
    span {
        float: left;
        width: 53.3%;
        @media (max-width: $capm) {
            width: 50%;
        }
    }
}

#dribbble-clips {
    display: block;
    width: 60px;
    height: 500px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #ec4989 20%, #a038f6 100%);
    position: absolute;
    z-index: 1;
    font-size: 2.5em;
    text-align: center;
    transition: top 500ms ease;
    left: -220px;
    top: -310px;
    transform: rotate(90deg);
    &:after {
        position: absolute;
        right: -20px;
        top: 0px;
        display: block;
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 500px 20px 0 0;
        border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
    }
    span {
        position: absolute;
        left: -71px;
        top: 129px;
        font-size: 0.4em;
        display: block;
        width: 200px;
        transform: rotate(-90deg);
    }
    &:hover {
        top: -200px;
    }
    @media (max-width: $xs) {
        font-size: 1.5em;
        top: -100px;
    }
}
#contact {
    text-align: center;
    margin-top: 200px;
    padding-bottom: 200px;
    font-size: 1.3em;
    position: relative;
    z-index: 0;
    
    @media (max-width: $xs) {
        margin-top: 20px;
        font-size: 0.7em;
        padding-bottom: 0px;
    }
    
    h3 {
        display: inline-block;
    }
    a {
        margin-right: 50px;
        &:last-child {
            margin: 0px;
        }
        @media (max-width: $xs) {
            display: block;
            margin: 40px 0px 0px 0px !important;
        }
    }
}

// ajax container
#results {
    height: 100%;
}

@import "projects/base";