#head{
	width:100%;
    height: 100%;
	min-height:900px;
	z-index:2;
    height:1400px;
    position: relative;
    
    .content-bg{
        width: 3500px;
        height: 3500px;
        transform: rotate(45deg);
        top: -2866px;
        margin-left: -1750px;
        left: 50%;
        
         &:before, &:after{
            background: #222532;
            display: block;
            content: " ";
            height: 15px;
            width: 328px;
            position: absolute;
            bottom: -10px;
            right: 0px;
            transform: rotate(3.2deg);
        }
        &:after{
            background: #1B1E28;
            right: -163px;
            bottom: 137px;
            transform: rotate(87deg);
        }
        
        @media screen and (max-width: $capm){
            top: -3037px;
        }
    }
    .highlight-bg{
        top: 25%;
        width: 100%;
        height: 600px;
        transform: skew(0,-20deg);
        transform-origin: top;
    }
    h1{
        width: 100%;
        z-index: 3;
        position: relative;
    }

}
#head .wrapper{
    display: inline-flex; 
	position:relative;
    width:100%;
    height: 100%;
    z-index: 3;
}

#head hgroup{
	//width:395px;
	width:80%;
    height:80%;
	
	margin:auto auto;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: relative;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    top:100px;

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    
    @media screen and (max-width: $capm){
        width: 95%;
        top:0px;
    }
    @media (max-width: $xs){   
        top: 150px;
    }
}

#mestylez{
    position: absolute;
    top: 90px;
    left: 50%;
    width: 853px;
    height: 853px;
    z-index: 0;
    margin-left: -425px;
    background: $bglite;
    transform: rotate(45deg);
    overflow: hidden;
    z-index: 0;
    
    img{
        transform: rotate(-45deg);
        margin-top: 132px;
        margin-left: 224px;
    }
    
    @media screen and (max-width: $capm){
        top: 20px;
    }
}

#hero span{
    display: block;
    position: absolute;
    box-sizing: border-box;
    opacity:1;
}
.hi{
    font-weight: 100;
    top: 20px;
    letter-spacing:9.6px;
    left: 154px;
    -webkit-animation-delay: 700ms; /* Chrome, Safari, Opera */
    animation-delay: 700ms;
    
    
    @media screen and (max-width: $capm){
        left: 54px;
    }
     @media (max-width: $xs){
        top: -130px;
        left: auto;
        width: 100%;
        text-align: center;
        font-size: 0.8em;
        z-index: 10;
    }
}
.mircea{
    font-size: 82px;
    top: 60px;
    right:-6px;
    letter-spacing: 15px;
    
    &:before{
        background: #fff;
        display: block;
        content: " ";
        height: 3px;
        width: 50%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    
    @media screen and (max-width: $capm){
       font-size: 62px;
    } 
}
.and{
    width: 600px;
    height: 600px;
    margin-left: -291px;
    top: 126px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 8px;
    left: 50%;
    -webkit-animation-delay: 500ms; /* Chrome, Safari, Opera */
    animation-delay: 500ms;
}
#head .designer{
    font-size: 120px;
    text-transform: capitalize;
    font-family: "Cookie";
    font-weight: 100;
    height: 600px;
    width: 600px;
    position: relative;
    margin-left: -300px;
    left: 50%;
    
    &::before{
        top: 170px;
        right: -90px;
        width: 120%;
        height: 67%;
        position: absolute;
        z-index: 1;
        content: " ";
        display: block;
        background-color: rgba(0,0,0,0.3);
        mask:url("#{$imageBase}designer.svg#maskid") no-repeat 50% 50%;
        -webkit-clip-path: url(#{$imageBase}designer.svg#clip-svg-demo);
        clip-path: url(#{$imageBase}designer.svg#clip-svg-demo);
        mask-position:0px 0px;
        
        transform: skewY(-6deg);
        transform-origin: top right;
        //mask-position: 700px 150px;
    }
    img {
        position: absolute;
        left: 0px;
        width: 115%;
        height: 100%;
        z-index: 2;
        transition: all 500ms ease;
    }
   
}
#square {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 250px;
    width: 610px;
    z-index: 2;
    transition: all 1500ms ease;

    img{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    
    &:after{
        position: absolute;
        z-index: 1;
        content: " ";
        display: block;
        width: 71%;
        height: 60%;
        border: 12px solid rgba(0,0,0,0.3);
        top: 126px;
        left: 60px;
        transform: rotate(35deg) skewY(10deg);
    }
    &.is-open{
        transition: all 1400ms ease;
        top: 325px;
        
        @media screen and (max-width: $capm){
            top:225px;
        }
    }
    
    @media screen and (max-width: $capm){
        top:150px;
    }
    @media (max-width: $xs){   
        top: 300px;
    }
}

#square.second-pos{
    top: 1459px;
    left: 240px;
    width: 1200px;
    height: 1200px;
    transform: rotate(51deg);
    
    &:after{;
        top: 270px;
        left: 145px;
        transform: rotate(35deg) skewY(0deg);
    }
    
    @media screen and (min-width: 1800px){
        left:140px;
    }
    
}
#square.third-pos{
    top: 2290px;
    left: 102%;
    width: 1000px;
    height: 1000px;
    transform: rotate(176deg);
    
    &:after{
       
    }
}

/* push the designer font over the square */
#letter-push{
    position: absolute;
    left: 50%;
    margin-left: -291px;
    top: 387px;
    width: 601px;
    z-index: 3;
    transition: all 600ms ease;
    font-size: 2em;
    
    &:after, &:before{
        display: inline-block;
        z-index: 10;
        width: 90px;
        height: 78px;
        position: absolute;
        content: " ";
        background-color:#fff;
        mask:url("#{$imageBase}designer.svg#clip-svg-square") no-repeat;
        -webkit-clip-path: url(#{$imageBase}designer.svg#bigd);
        clip-path: url(#{$imageBase}designer.svg#bigd);
        mask-size: 690px 600px;
        mask-position: -79px;
        top: 135px;
        left: 70px;
    }
    &:before{
        height: 131px;
        right: -42px;
        left: auto;
        top: 116px;
        mask-position:-561px -242px;
        -webkit-clip-path: url(#{$imageBase}designer.svg#finalr);
        clip-path: url(#{$imageBase}designer.svg#finalr);
    }
    
    &.is-open{
        transition: all 1400ms ease;
        top: 471px;
        
        @media screen and (max-width: $capm){
            top:372px;
        }
    }
    
    @media screen and (max-width: $capm){
        top:287px;
        margin-left: -293px;
    }
    @media (max-width: $xs){   
        top: 456px;
        font-size: 1.3em;
    }
}
.craft{
    font-weight: 100;
    font-size: 25px;
    width: 431px;
    height: 163px;
    position: absolute;
    top: 580px;
    right: 130px;
    letter-spacing: 7.5px;
    animation-delay: 1000ms;
    background:url("#{$imageBase}selector.png") 0px 0px no-repeat;
    box-sizing: border-box;
    padding: 40px 50px;
    z-index: 2;

    @media (max-width: $xs){   
        top: auto;
        bottom: 80px;
    }
}

#head hgroup::before,
#head hgroup::after{
    display: none;
	width:400px;
    height:1px;
    content: " ";
    overflow: hidden;
    background: #fff;
    position: absolute;
    top:50%;
}
#head hgroup::before{
    margin-top: -1px;
}
#head hgroup::after{
    top: auto;
    bottom: 50%;
}
/*body #loader{
    display: none;
}*/

#head.animated hgroup::after{
    -webkit-animation: header-bottom-line 1000ms ease-in-out  both;
    animation: header-bottom-line 1000ms ease-in-out  both;
    -webkit-animation-delay: 500ms; /* Chrome, Safari, Opera */
    animation-delay: 500ms;
}
#head.animated hgroup::before{
    -webkit-animation: header-top-line 1000ms ease-in-out  both;
    animation: header-top-line 1000ms ease-in-out  both;
    -webkit-animation-delay: 500ms; /* Chrome, Safari, Opera */
    animation-delay: 500ms;
}


@keyframes header-bottom-line { 
    0% { 
        bottom: 50%;
    }
    100%{
        bottom:0%;
    }
}
@-webkit-keyframes header-bottom-line { 
}

@keyframes header-top-line { 
    0% { 
        top: 50%;
    }
    100%{
        top:0%;
        margin-top: 0px;
    }
}
@-webkit-keyframes header-top-line { 
}


.scroll-hint{
    position: absolute;
    top: 14%;
    left: 50%;
    margin-left: -19%;
    z-index: 21;
    @media screen and (max-width: $capm){
        left: auto;
        right: 10%;
        bottom:-20px;
    }
    @media (max-width: $xs){
        display: none;
    }
}


.diamond{ 
    display:block;
    text-indent:-999px; 
    background-image:url("#{$imageBase}diamonds.png");
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0) rotate(0deg);
    transform: translate3d(0,0,0) rotate(0deg);
    
	position:fixed;
	z-index:20;
    
     &.shadowed:after{
        content:" ";
        display: block;
        position: absolute;
        border-right: 25px solid rgba(0,0,0,0.1);
        border-bottom: 25px solid rgba(0,0,0,0.1);
        bottom: -25px;
        right: -25px;
        width:100%;
        height:100%;
    }
    &.bigblue{
        width:288px;
        height:288px;
        background-position:2px 0px;
        top: -150px;
        left: 10%;
        transform: rotate(-180px);
    }
    &.green{
        width:150px;
        height:150px;
        background-position:-288px 0px;
        top: 50px;
        right: 15%;
        transform: rotate(-45deg);
        
        @media screen and (max-width: $capm){
            display: none;
	    }
    }
    &.smallblue{
        width:72px;
        height:72px; 
        background-position:-438px 0px;
        top: 350px;
        left: 15%;
        transform: rotate(45deg);
        
        &:after{
            border-width:15px;
            border-color: rgba(0,0,0,0.1);
            bottom: -15px;
            right: -15px;
        }
    }
    &.dddgreen{
        width:191px;
        height:190px;
        background-position:-510px 0px;
        bottom: 90px;
        right: 170px;
        
        @media screen and (max-width: $capm){
            display: none;
	    }
    }
    &.dddgrey{
        width:103px;
        height:93px; 
        background-position:-701px 0px;
        bottom:40px;
        left: 10%;
    }
    &.dddpurple{
        width:97px; 
        height:121px; 
        background-position:-804px 0px;
        top: 50px;
        left: 35%;
        @media screen and (max-width: $capm){
            left: auto;
            right: 15%;
	    }
    }
    &.shade{
        background: none;
        top: 700px;
        left: 25%;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 100px 0 100px 150px;
        border-color: transparent transparent transparent rgba(0,0,0,0.1);
        border-radius: 10px;
    }
}